@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inconsolata", serif;
}

#root {
  width: 100%;
  background-image: url(../assets/images/background-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
